<h1>Make your form here</h1>
<form method = "GET" action = "/new">
  <h2>Pirate</h2>
    <label for="pirate_name">Name</label><br>
    <input id="pirate_name" type="text" name="pirate[name]" /><br>
    <label for="pirate_weight">Weight</label><br>
    <input id="pirate_weight" type="text" name="pirate[weight]" /><br>
    <label for="pirate_height">Height</label><br>
    <input id="pirate_height" type="text" name="pirate[height]" /><br><br>
  <h2>Ship</h2>
    <label for="ships_name">ships Name</label><br>
    <input id="ships_name" type = "text" name='pirate[ships][][name]'>
    <label for="ship_type">ships type</label><br>
    <input id="ships_type" type = "text" name='pirate[ships][][type]'>
    <label for="ships_booty">ships booty</label><br>
    <input id="ships_booty" type = "text" name='pirate[ships][][booty]'>
</form>
